/* Definir o estilo geral para o corpo da página */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4 ;
    margin: 0;
    padding: 0;
}

/* Estilo do cabeçalho */
header{
    background-color: #333;
    color: white;
    padding: 20px 0px;
    text-align: center;

    /* Aplicando Flexbox no header */
    display: flex;  /* Ativa Flexbox */
    justify-content: space-between;  /* Separa nome e menu */
    align-items: center; /* Alinha no centro verticalmente */
    flex-wrap: wrap; /* Permite quebrar linhas em telas pequenas */
}

header h1 {
    margin: 0;
}

header nav {
    margin-top: 10px;

    /* Flexbox no header nav */
    display: flex; /* Links lado a lado */
    gap: 15px; /* Espaço entre os links */
}


/*
header nav a {
 color: white;
 text-decoration: none;
 margin: 0 10px;
 
 font-weight: bold; 
}

header nav a:hover {
 text-decoration: underline;
}

 Estilo das seções 
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

section h2 {
    color: #333;
    font-size: 24px;
}

/* Estilo para a lista de projectos */
ul {
    list-style-type: square;
    padding-left: 20px;
}

ul li {
    font-size: 18px;
}

/* Estilo do formulário */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0, 1);
}

form label {
    display: block;
    margin: 10px 0 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #444;
}

/* Estilo do rodapé */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

